#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Ubuntu";
  
}

@media only screen and (max-width: 639px) {
  #root {
    padding: 1rem;
  }
}

@font-face {
  font-family: "Ubuntu";
  src: url("./../public/Ubuntu-Light.ttf") format("truetype")
}

@font-face {
  font-family: "UbuntuBold";
  src: url("./../public/Ubuntu-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "UbuntuRegular";
  src: url("./../public/Ubuntu-Regular.ttf") format("truetype")
}

